In [4]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv('IMDb Movies India.csv',encoding='latin-1')

In [6]:
df.head(5)

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [7]:
df.shape

(15509, 10)

In [8]:
df.columns

Index(['Name', 'Year', 'Duration', 'Genre', 'Rating', 'Votes', 'Director',
       'Actor 1', 'Actor 2', 'Actor 3'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15509 non-null  object
 1   Year      14981 non-null  object
 2   Duration  7240 non-null   object
 3   Genre     13632 non-null  object
 4   Rating    7919 non-null   float64
 5   Votes     7920 non-null   object
 6   Director  14984 non-null  object
 7   Actor 1   13892 non-null  object
 8   Actor 2   13125 non-null  object
 9   Actor 3   12365 non-null  object
dtypes: float64(1), object(9)
memory usage: 1.2+ MB

In [10]:
df.isna().sum()

Name           0
Year         528
Duration    8269
Genre       1877
Rating      7590
Votes       7589
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

In [11]:
duplicated=df.duplicated(keep=False)
duplicated_raw=df[duplicated]
print(duplicated_raw)
df.duplicated().sum()

                            Name    Year Duration     Genre  Rating Votes  \
1249   Arab Ka Sona - Abu Kaalia  (1979)      NaN    Action     NaN   NaN
1250   Arab Ka Sona - Abu Kaalia  (1979)      NaN    Action     NaN   NaN
1768                     Balidan  (1992)      NaN     Drama     NaN   NaN
1769                     Balidan  (1992)      NaN     Drama     NaN   NaN
4722     First Time - Pehli Baar  (2009)      NaN       NaN     NaN   NaN
4723     First Time - Pehli Baar  (2009)      NaN       NaN     NaN   NaN
9712                     Musafir     NaN      NaN  Thriller     NaN   NaN
9713                     Musafir     NaN      NaN  Thriller     NaN   NaN
13068                    Shivani  (2019)      NaN     Crime     NaN   NaN
13069                    Shivani  (2019)      NaN     Crime     NaN   NaN
13307          Slumdog Karodpati  (2019)  118 min  Thriller     NaN   NaN
13308          Slumdog Karodpati  (2019)  118 min  Thriller     NaN   NaN

                  Director      Actor 1       Actor 2     Actor 3
1249        Master Bhagwan    Meena Rai    Dara Singh         NaN
1250        Master Bhagwan    Meena Rai    Dara Singh         NaN
1768                   NaN          NaN           NaN         NaN
1769                   NaN          NaN           NaN         NaN
4722          Raja Bundela  Zeenat Aman   Nitin Arora  Raj Babbar
4723          Raja Bundela  Zeenat Aman   Nitin Arora  Raj Babbar
9712           Shiva Dagar          NaN           NaN         NaN
9713           Shiva Dagar          NaN           NaN         NaN
13068  Ugresh Prasad Ujala      Santosh           NaN         NaN
13069  Ugresh Prasad Ujala      Santosh           NaN         NaN
13307        Rajesh Patole  Udhav Garje  Rahul Gavane   Govindrao
13308        Rajesh Patole  Udhav Garje  Rahul Gavane   Govindrao

6

In [12]:
# removing 6 duplicate raws

df.drop_duplicates(inplace=True)
df.duplicated().sum()

0

In [13]:
# duration field have many missing values and rating is also doesn't depend on name of the movie so we can drop both column.
# here rating and votes both have many missing value but we can not drop it.
# Because raing is our target feature and rating is depend on votes so both are necessary.

In [14]:
df.drop(columns=['Name','Duration'],axis=1,inplace=True)
df.head()

,Year,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,(2019),Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,(2021),"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,(2019),"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,(2010),Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [15]:
df.shape

(15503, 8)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15503 entries, 0 to 15508
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Year      14976 non-null  object
 1   Genre     13627 non-null  object
 2   Rating    7919 non-null   float64
 3   Votes     7920 non-null   object
 4   Director  14979 non-null  object
 5   Actor 1   13888 non-null  object
 6   Actor 2   13122 non-null  object
 7   Actor 3   12363 non-null  object
dtypes: float64(1), object(7)
memory usage: 1.1+ MB

In [17]:
df.nunique()

Year         102
Genre        485
Rating        84
Votes       2034
Director    5938
Actor 1     4718
Actor 2     4891
Actor 3     4820
dtype: int64

In [18]:
# List of all feature that contain object features
object_feature = list(df.columns[df.dtypes=='object'])

In [19]:
print(object_feature)

['Year', 'Genre', 'Votes', 'Director', 'Actor 1', 'Actor 2', 'Actor 3']

In [20]:
df.isna().sum()

Year         527
Genre       1876
Rating      7584
Votes       7583
Director     524
Actor 1     1615
Actor 2     2381
Actor 3     3140
dtype: int64

In [21]:
# fill the missing values in Rating column
R_mean = df['Rating'].mean()
df['Rating'].fillna(R_mean,inplace=True)

In [22]:
# fill the missing values in Object Features
for i in object_feature:
    m = df[i].mode()[0]
    df[i].fillna(m,inplace=True)

In [23]:
df.isna().sum()

Year        0
Genre       0
Rating      0
Votes       0
Director    0
Actor 1     0
Actor 2     0
Actor 3     0
dtype: int64

In [24]:
df.head()

,Year,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,(2019),Drama,5.841621,8,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,(2019),Drama,7.000000,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,(2021),"Drama, Musical",5.841621,8,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,(2019),"Comedy, Romance",4.400000,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,(2010),Drama,5.841621,8,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [25]:
# convert Year into Integer 
df['Year'] = df['Year'].str.strip('()').astype(int)

In [26]:
# convert Votes into Integer 
df['Votes'] = df['Votes'].str.replace(',','')
df['Votes'] = df['Votes'].str.replace('.','')
df['Votes'] = df['Votes'].str.strip('$M').astype(int)

C:\Users\malav\AppData\Local\Temp\ipykernel_16636\946193540.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Votes'] = df['Votes'].str.replace('.','')

In [27]:
df.head()

,Year,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,2019,Drama,5.841621,8,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,2019,Drama,7.000000,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,2021,"Drama, Musical",5.841621,8,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,2019,"Comedy, Romance",4.400000,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,2010,Drama,5.841621,8,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15503 entries, 0 to 15508
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Year      15503 non-null  int32
 1   Genre     15503 non-null  object
 2   Rating    15503 non-null  float64
 3   Votes     15503 non-null  int32
 4   Director  15503 non-null  object
 5   Actor 1   15503 non-null  object
 6   Actor 2   15503 non-null  object
 7   Actor 3   15503 non-null  object
dtypes: float64(1), int32(2), object(5)
memory usage: 968.9+ KB

In [29]:
# Encoding Categorical features using Target encoding-Mean encoding
df['Genre enc.'] = round(df.groupby('Genre')['Rating'].transform('mean'),1)
df['Votes enc.'] = round(df.groupby('Votes')['Rating'].transform('mean'),1)
df['Director enc.'] = round(df.groupby('Director')['Rating'].transform('mean'),1)
df['Actor 1 enc.'] = round(df.groupby('Actor 1')['Rating'].transform('mean'),1)
df['Actor 2 enc.'] = round(df.groupby('Actor 2')['Rating'].transform('mean'),1)
df['Actor 3 enc.'] = round(df.groupby('Actor 3')['Rating'].transform('mean'),1)

df.drop(columns=['Genre','Votes','Director','Actor 1','Actor 2','Actor 3'],inplace=True)
df['Rating'] = round(df['Rating'],1)

In [30]:
df.head()

,Year,Rating,Genre enc.,Votes enc.,Director enc.,Actor 1 enc.,Actor 2 enc.,Actor 3 enc.
0,2019,5.8,6.0,5.8,5.8,5.8,5.5,5.8
1,2019,7.0,6.0,5.8,7.0,6.8,7.0,7.0
2,2021,5.8,6.3,5.8,5.8,6.2,6.8,5.8
3,2019,4.4,5.7,5.9,4.4,5.4,4.4,4.4
4,2010,5.8,6.0,5.8,6.3,6.8,5.8,5.5

In [31]:
# Separate features and target column
X = df.drop(columns='Rating')
Y =df[['Rating']]

In [32]:
X.head()

,Year,Genre enc.,Votes enc.,Director enc.,Actor 1 enc.,Actor 2 enc.,Actor 3 enc.
0,2019,6.0,5.8,5.8,5.8,5.5,5.8
1,2019,6.0,5.8,7.0,6.8,7.0,7.0
2,2021,6.3,5.8,5.8,6.2,6.8,5.8
3,2019,5.7,5.9,4.4,5.4,4.4,4.4
4,2010,6.0,5.8,6.3,6.8,5.8,5.5

In [33]:
Y.head()

   Rating
0     5.8
1     7.0
2     5.8
3     4.4
4     5.8

In [34]:
# Split the dataset into training data and testing data
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.30)

In [35]:
X_train.shape

(10852, 7)

In [36]:
X_test.shape

(4651, 7)

In [37]:
Y_train.shape

(10852, 1)

In [38]:
Y_test.shape

(4651, 1)

In [39]:
# creating the model
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [40]:
model = LinearRegression()

model.fit(X_train, Y_train)

Y_pred = model.predict(X_test)

In [41]:
# Evaluate the model performance
MSE = mean_squared_error(Y_test,Y_pred)
print(MSE)

MAE = mean_absolute_error(Y_test,Y_pred)
print(MAE)

R2 = r2_score(Y_test,Y_pred)
print(R2)

0.24620754075368528
0.3242958732560576
0.7507204455981489

In [42]:
# Model prediction
Y_pred[:10]

array([[7.36068861],
       [5.75029084],
       [6.13835345],
       [7.18678111],
       [5.66944297],
       [5.71212037],
       [4.45236809],
       [5.86834752],
       [6.08902434],
       [6.6227682 ]])

In [43]:
df_final = X_test
df_final['Predicted_Rating'] = Y_pred
df_final

,Year,Genre enc.,Votes enc.,Director enc.,Actor 1 enc.,Actor 2 enc.,Actor 3 enc.,Predicted_Rating
5259,2019,7.3,5.7,9.1,5.9,5.9,5.9,7.360689
13755,1999,5.9,5.8,5.7,5.8,5.8,5.8,5.750291
469,1983,6.0,5.8,5.8,6.5,6.4,5.8,6.138353
14230,2014,5.7,6.8,6.4,6.3,6.9,6.9,7.186781
7119,1975,5.3,5.8,5.5,5.7,6.0,6.1,5.669443
...,...,...,...,...,...,...,...,...
11796,2021,5.8,5.8,6.3,5.8,5.8,6.1,6.071171
12129,1975,5.4,5.9,5.9,6.1,6.1,5.9,5.970483
11737,1995,6.2,7.5,5.5,6.0,6.7,5.3,6.639420
12286,1954,6.0,5.8,5.8,5.9,6.0,6.5,6.046927
9631,1948,6.0,5.8,5.8,5.9,5.8,6.2,5.910311